Repository Lazarev-Cloud/localca-go, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, ci, security, dependencies

Enhance CI/CD workflow: add Codecov upload steps for backend, frontend, and combined coverage reports in ci-cd.yml
  .github/codecov.yml
  .github/workflows/ci-cd.yml
Labels: ci

ci: add Codecov integration for code coverage reporting
  .github/workflows/ci-cd.yml
Labels: ci

ci: fix SonarQube configuration by adding SONAR_HOST_URL environment variable
  .github/workflows/ci-cd.yml
Labels: ci

ci: remove separate SonarQube workflow to avoid conflicts with CI-based analysis
  .github/workflows/sonarqube.yml
Labels: ci

Delete sonarqube.yml
  .github/workflows/sonarqube.yml
Labels: ci

feat: add SPDX SBOM generation and documentation
  .github/workflows/ci-cd.yml
  .github/workflows/spdx-sbom-generator.yml
  README.md
  SPDX.json
Labels: documentation, ci

feat: add comprehensive Codecov configuration with component coverage and bundle analysis
  .github/workflows/ci-cd.yml
  README.md
  codecov.yml
  next.config.mjs
Labels: frontend, documentation, ci

гзв
  package-lock.json
  package.json
Labels: frontend, dependencies

fix: update SBOM generation to use anchore/sbom-action instead of deprecated spdx-sbom-generator
  .github/workflows/ci-cd.yml
Labels: ci

docs: add SPDX examples based on spdx/spdx-examples repository
  examples/README.md
  examples/spdx-example.json
Labels: documentation

docs: update README with SPDX examples information
  README.md
Labels: documentation

fix: resolve build errors and CI failures
  .github/workflows/ci-cd.yml
  pkg/email/notifications.go
  pkg/handlers/settings.go
Labels: backend, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: ci

rules
  .cursor/rules/database-schema.mdc
  .cursor/rules/deployment-options.mdc
  .cursor/rules/go-backend-structure.mdc
  .cursor/rules/next-app-router.mdc
Labels: none

Remove deprecated files and documentation related to coverage, handlers, and various configuration rules. This cleanup enhances project maintainability and reduces clutter in the repository.
  .cursor/rules/acme-protocol.mdc
  .cursor/rules/api-endpoints.mdc
  .cursor/rules/api-integration.mdc
  .cursor/rules/backend-architecture.mdc
  .cursor/rules/backend-services.mdc
  .cursor/rules/certificate-lifecycle.mdc
  .cursor/rules/certificate-operations.mdc
  .cursor/rules/cli-commands.mdc
  .cursor/rules/code-standards.mdc
  .cursor/rules/common-workflows.mdc
  .cursor/rules/configuration-management.mdc
  .cursor/rules/data-storage.mdc
  .cursor/rules/database-schema.mdc
  .cursor/rules/deployment-configuration.mdc
  .cursor/rules/deployment-options.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/docker-deployment.mdc
  .cursor/rules/email-notifications.mdc
  .cursor/rules/frontend-architecture.mdc
  .cursor/rules/frontend-components.mdc
  .cursor/rules/getting-started.mdc
  .cursor/rules/go-backend-structure.mdc
  .cursor/rules/installation-guide.mdc
  .cursor/rules/next-app-router.mdc
  .cursor/rules/nextjs-routing.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/security-best-practices.mdc
  .cursor/rules/testing-and-qa.mdc
  .cursor/rules/troubleshooting-guide.mdc
  .cursor/rules/ui-components.mdc
  cleanup.ps1
  coverage
  handlers
  security-reports/gosec-results.json
  security-reports/npm-audit.json
Labels: none

Delete cleanup.ps1
  cleanup.ps1
Labels: none

Add new rules
  .cursor/rules/01-project-overview.mdc
  .cursor/rules/02-backend-architecture.mdc
  .cursor/rules/03-frontend-architecture.mdc
  .cursor/rules/04-certificate-lifecycle.mdc
  .cursor/rules/05-deployment-configuration.mdc
  .cursor/rules/06-acme-protocol.mdc
Labels: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: ci

Update sonar exclusions in sonar-project.properties and ci-cd.yml for enhanced coverage reporting. Add additional exclusions for various report formats and enable SCM settings in CI/CD workflow.
  .github/workflows/ci-cd.yml
  sonar-project.properties
Labels: ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: ci

Update README.md
  README.md
Labels: documentation

Remove pnpm-lock.yaml file to streamline dependency management and reduce repository size.
  pnpm-lock.yaml
Labels: dependencies

Remove local API URL from docker-compose.yml and add API rewrites in next.config.mjs to route requests to the backend service.
  docker-compose.yml
  next.config.mjs
Labels: frontend, ci

upd
  .cursor/rules/01-project-overview.mdc
  .cursor/rules/02-backend-architecture.mdc
  .cursor/rules/03-frontend-architecture.mdc
  .cursor/rules/04-certificate-lifecycle.mdc
  .cursor/rules/05-deployment-configuration.mdc
  .cursor/rules/06-acme-protocol.mdc
  .cursor/rules/07-security-model.mdc
  .cursor/rules/08-project-workflow.mdc
  app/api/ca-info/route.ts
  app/login/page.tsx
  app/setup/page.tsx
  components/setup-redirect.tsx
Labels: frontend

Enhance API route to handle multiple formats for setup required messages, improving error handling and response parsing.
  app/api/ca-info/route.ts
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any changes in Go files or backend-related directories
backend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - 'pkg/**/*'
      - 'main.go'
      - 'go.mod'
      - 'go.sum'

# Add 'frontend' label to any changes in frontend files
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.ts'
      - '**/*.tsx'
      - '**/*.js'
      - '**/*.jsx'
      - 'app/**/*'
      - 'components/**/*'
      - 'hooks/**/*'
      - 'styles/**/*'
      - 'public/**/*'
      - 'package.json'
      - 'tsconfig.json'
      - 'next.config.mjs'

# Add 'documentation' label to any changes in documentation files
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'LICENSE'
      - 'README*'
      - 'DEPLOYMENT.md'
      - 'BestPractice.md'

# Add 'ci' label to any changes in GitHub Actions workflows
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

# Add 'security' label to any changes in security-related files
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'pkg/certificates/**/*'
      - 'pkg/config/**/*'
      - 'pkg/acme/**/*'

# Add 'dependencies' label to any changes in dependency files
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'
